:root
  --main-color: #00ABB3
  --main-bg-color: #EAEAEA
  --logo-color: #3C4048
  --badge-bg-color: #2888ee
  --btn-my-favorite: #f0747e
  --active-text-link-color: #5db2f3
  --text-main-color: #FFFFEE
  --star-size: 20px
  --star-color: #e4e1e1
  --star-background: #fc0