:root
  --main-color: #ee4956
  --main-bg-color: #FFF
  --logo-color: #1d3557
  --badge-bg-color: #2888ee
  --btn-my-favorite: #f0747e
  --active-text-link-color: #5db2f3
  --text-main-color: #FFFFEE
  --star-size: 20px
  --star-color: #e4e1e1
  --star-background: #fc0